body{
    font-family: Trebuchet MS, sans-serif;
    color: rgba(0, 0, 0, 0.815);
    text-align: left;
  }
  p.titulo{
    margin-bottom: 60px;
  }
  img.Rlogo {
    width:60px;
    margin-left:650px;
    margin-top:15px;
  }
  img.instagram {
    width:40px;
    position: absolute;
    margin-left: 1180px;
    margin-top:20px;

  }
  img.github{
    width:40px;
    position: absolute;
    margin-left: 1230px;
    margin-top:20px;

  }
  img.twitter {
    width:40px;
    position: absolute;
    margin-left: 1280px;
    margin-top:20px;

  }
  h1 {
    margin:0px 100px 30px;
    font-size: 40px;
    
  }
  img.chapeu{
    width:30px;
    vertical-align: top;

  }
  p.especialidade{
    margin:90px 100px 40px;
    font-size:140%;
    font-weight: 1000;
    }
  img.livro {
    width:25px;
    vertical-align: top;

  }
  p.area {
    margin:-25px 105px 40px ;
    font-size:140%;
    font-weight: 1000;
    font-weight: bolder;
  }
  p.espec {
    border:d;
    margin:-25px 105px 40px ;
    font-size:140%;
    font-weight: 1000;
  }
  img.foto {
    width:400px;
    height:400px;
    margin-left: 880px;
    border:5px solid rgb(6, 109, 204);
    margin-top:-290px;
    border-radius: 50%;
	  overflow: hidden;
    border-style: dashed;
    padding:3px;
    position:absolute ;
}
.bio {
  float:left;
  width: 100%;
  height: 700px;
  color: white;
  margin-top:5px;
  background-color: rgb(0, 0, 0, 0.815);
}
h2{
  text-align: left;
  font-size: 145%;
  font-weight:1;
  margin-left: 350px;

}
.contato {
    color:white;
    background-color: rgb(6, 109, 204);
    border:5px solid rgb(0, 0, 0);
    border-style: dotted;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
    font-weight: 600;
    text-decoration: none;

}
img {
    width: 40px;

}